<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <!-- Copy to ~/Library/LaunchAgents/android.setenv.plist, edit the paths below,
       then log in again. If the changes don't take, open a terminal and run
       `launchctl load -w ~/Library/LaunchAgents/android.setenv.plist`
  -->

  <key>Label</key>
  <string>android.setenv</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>
    launchctl setenv ANDROID_HOME "${HOME}/android-sdk-macosx"
    launchctl setenv ANDROID_NDK_HOME "${HOME}/android-ndk-r10e"
    launchctl setenv JAVA6_HOME "`/usr/libexec/java_home -v 1.6`"
    launchctl setenv JAVA7_HOME "`/usr/libexec/java_home -v 1.7`"
    launchctl setenv JAVA8_HOME "`/usr/libexec/java_home -v 1.8`"
    launchctl setenv JAVA_HOME "`/usr/libexec/java_home -v 1.8`"
    </string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>ServiceIPC</key>
  <false/>

</dict>
</plist>
